html {
	background-color: ghostwhite;
	text-align: center;
	/* The line below does not automatically apply to every element. */
	margin: auto;
}
#website-title {
}
#Owl {
	border: 7px ridge white;
	width: 275px;
	position: relative;
	z-index: 1;
}
.limerick {
	background-color: silver;
	border: 2px solid red;
	padding: 8px;
	line-height: 2.2em;
	width: 100%;
}
.section-title{
	font-family: fantasy;
}
h1 {
	font-size: 45px;
	color:blue;
	padding: 6px;
	border: 3px ridged black;
	background-color: lightsteelblue;
}
.page {
	font-size: 2em;
}